<%# provide(:title, 'Home') %>

<header>
  <div id="dark-layer">
  <section id="rw-wrapper">
  <!-- <h1>Hi.</h1> -->
    <h2>
      <span>Hi. I am</span>
      <div class="rw-words">
        <span>a full-stack developer</span>        
        <span>an adventurer</span>
        <span>a lover of tech</span>
        <span>curious</span>
        <span>Kyle Chadha.</span>
      </div>
    </h2>
  </section>
  </div>
</header>

<div id="work" class="kc-box">
  <div class="row text-center">
    <h1>work.</h1>
  </div>
  <div class="row">
    <div class="columns large-12 wrapper">
      <div class="tabs-content horizontal">
        <div class="content active" id="panel1a">
          <p>Panel 1 content goes here.</p>
        </div>
        <div class="content" id="panel2a">
          <p>Panel 2 content goes here.</p>
        </div>
        <div class="content" id="panel3a">
          <p>Panel 3 content goes here.</p>
        </div>
        <div class="content" id="panel4a">
          <p>Panel 4 content goes here.</p>
        </div>
        <div class="content" id="panel5a">
          <p>Panel 5 content goes here.</p>
        </div>
        <div class="content" id="panel6a">
          <p>Panel 6 content goes here.</p>
        </div>
      </div>
      <dl class="tabs horizontal" data-tab>
        <dd class="active"><a href="#panel1a">Transit Alarm</a></dd>
        <dd><a href="#panel2a">Spades</a></dd>
        <dd><a href="#panel3a">Drink Responsibly</a></dd>
        <dd><a href="#panel5a">QApp</a></dd>
        <dd><a href="#panel6a">TGenerator</a></dd>
        <dd><a href="#panel4a">Tic Tac Tangular</a></dd>
        <dd><a href="#panel6a">My Portfolio</a></dd>
      </dl>
    </div>
    <div class="columns large-2"></div>
  </div>
</div>

<div id="about-me" class="kc-box">
  <div class="row text-center">
    <h1>about.</h1>
  </div>
  <div class="row">
    <div class="columns large-4">
      <%= image_tag "kyle-chadha-1.jpg", size: '300' %>
    </div>
    <div class="columns large-8">
      <h2>Hey there, I'm Kyle. I'm a <strong>full-stack developer</strong> with a background in management consulting.</h2><br>
      <%#= fa_icon "html5 4x" %>
      <%#= fa_icon "css3 4x" %>

      <%#= image_tag "languages.png", size: "80", id: "html5" %>
      <%#= image_tag "languages.png", size: "80", id: "css3" %>
      <%#= image_tag "languages.png", size: "80", id: "javascript" %>
<!--       <h5>Yup, that's right. I studied business, spent years toiling long hours on the 34th floor of who knows what building, and then left it all to explore some of the finer things life has to offer. I spent several months traveling, worked with the Clinton Foundation in Rwanda, and then started two startups.</h5><br>
      <h5>I did a lot of random things from selling to setting up partnerships to working with government officials... but of all the things I did I kept coming back to one fact: the more I had to deal with code, the more hooked I became.</h5><br>
      <h5>I started General Assembly's course in January, and the rest is history. I'm a code junkie, and there's no denying it. My goal for the next few years is to eat, live, breathe, and sleep code... and do it with some awesome people who love the art as much as I do.</h5> -->
    </div>
  </div>
</div>

<div id="skills" class="kc-box">
  <div class="row text-center">
    <h1>skills.</h1>
  </div>
  <div class="row">
    <div class="columns large-8 large-offset-2"></div>
  </div>
</div>

<div id="contact" class="kc-box">
  <div class="row text-center">
    <h1>contact.</h1>
  </div>
  <div id="contact-address" class="row text-center">
    <h1>Kyle Chadha</h1>
    <h2>8601 Pacific Coast Hwy</h2>
    <h2>Los Angeles, CA 90045</h2>
  </div>
  <div id="contact-icons" class="row">
    <div class="columns large-8 large-offset-2 text-center">
      <span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top" title="kyle.chadha@gmail.com"><a target="_blank" href="mailto:kyle.chadha@gmail.com?Subject=Hello%20again"><%= fa_icon "envelope 3x", class: "contact-icon" %></a></span>

      <span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top" title="LinkedIn"><a target="_blank" href="https://www.linkedin.com/in/kylechadha/"><%= fa_icon "linkedin-square 3x", class: "contact-icon" %></a></span>

      <span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top" title="GitHub"><a target="_blank" href="https://github.com/kylechadha"><%= fa_icon "github-square 3x", class: "contact-icon" %></a></span>

      <span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top" title="858-2CHADHA ...not kidding. Or am I?"><%= fa_icon "phone-square 3x", class: "contact-icon" %></span>

      <span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top" title="Twitter"><a target="_blank" href="https://twitter.com/kylechadha"><%= fa_icon "twitter-square 3x", class: "contact-icon" %></a></span>
    </div>
  </div>
</div>
